<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calendar</title>
	
	<!--<script src= ../javascript/converter.js> </script>-->
	<script src= https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
	<script src= ../javascript/connectivity.js> </script>
</head>
<body>

<script>
	function myFunction(id) {
	let form=document.getElementById(id);
	
	let string= "{\n\"title\": \"" + form.elements[0].value + "\",\n";
	string += "\"location\": \"" + form.elements[1].value + "\",\n";
	string += "\"organizer\": \"" + form.elements[2].value + "\",\n";
	string += "\"start\": \"" + form.elements[3].value + "\",\n";
	string += "\"end\": \"" + form.elements[4].value + "\",\n";
	string += "\"status\": \"" + form.elements[5].value + "\",\n";
	string += "\"allday\": " + form.elements[6].checked + ",\n";
	string += "\"webpage\": \"" + form.elements[7].value + "\",\n";
	string += "\"imagedata\": ";
	imagePicker = document.getElementById("imageurl");
	if(!(imagePicker.files && imagePicker.files[0])){
			string += "null,\n";
			string += "\"categories\": [],\n";
			string += "\"extra\": \"" + form.elements[10].value + "\"\n}";
			console.log("Yes you're here:\n" + string);
	
			return JSON.parse(string);
		}else{
		    var fr = new FileReader();
			fr.readAsDataURL(imagePicker.files[0]);
			fr.onload = (function (data) {
				string += "\"";
				string += fr.result;
				string += "\",\n";
				string += "\"categories\": [],\n";
				string += "\"extra\": \"" + form.elements[10].value + "\"\n}";
				console.log("Yes you're here:\n" + string);
				console.table(JSON.parse(string));
	
				return JSON.parse(string);
			});
		}
	
}
</script>

<form action="#" id="myForm">
    <table>
        <h1>Add an Event</h1>
        <tr>
            <td><label for="title">Title</label></td>
            <td><input id="title" type="text" required></td>
        </tr>
        <tr>
            <td><label for="location">Location</label></td>
            <td><input id="location" type="text" required></td>
        </tr>
        <tr>
            <td><label for="organizer">Organizer</label></td>
            <td><input id="organizer" type="email" required></td>
        </tr>
        <tr>
            <td><label for="start">Start</label></td>
            <td><input id="start" type="datetime-local" required></td>
        </tr>
        <tr>
            <td><label for="end">End</label></td>
            <td><input id="end" type="datetime-local" required></td>
        </tr>
        <tr>
            <td><label for="status">Status</label></td>
            <td>
                <select id="status">
                    <option value="Free">Free</option>
                    <option value="Busy">Busy</option>
                    <option value="Tentative">Tentative</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="allday">All Day</label></td>
            <td><input id="allday" type="checkbox"></td>
        </tr>
        <tr>
            <td><label for="webpage">Webpage</label></td>
            <td><input id="webpage" type="text"></td>
        </tr>
        <tr>
            <td><label for="imageurl">Image</label></td>
            <td><input type="file" id="imageurl" accept="image/*"></td>
        </tr>
        <tr>
            <td><label for="categories">Categories</label></td>
            <td><input id="categories" type="text"></td>
        </tr>
        <tr>
            <td><label for="extra">Extra</label></td>
            <td><input id="extra" type="text"></td>
        </tr>
    </table>
    <p><input type="submit" onclick="createCalendarEvent('http://dhbw.radicalsimplicity.com/calendar/', 'wow', myFunction('myForm'))"></p>
</form>
</body>
</html>
