<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../javascript/connectivity.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Radical Simplicity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Event Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Month</a>
            </li>
        </ul>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline" action="#">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Account</span>
                    </div>
                    <input id="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="getData()">Login</button>
            </form>
        </nav>
    </div>
</nav>
<br>

<script>

    let url = "http://dhbw.radicalsimplicity.com/calendar/";

    let listView = document.getElementById("calendarListView");

    function constructCalendarEvent(calendarEvents) {

        listView.innerHTML = ""

        calendarEvents.forEach((calendarEvent, index) => {

            let start = new Date(calendarEvent.start);
            let end = new Date(calendarEvent.end);

            listView.innerHTML +=
                "<div class=\"card\">\n" +
                "    <div class=\"card-header\" id=\"calendarEvent" + index + "\">\n" +
                "        <h2 class=\"mb-0\">\n" +
                "            <button class=\"btn btn-link btn-block text-left\" type=\"button\" data-toggle=\"collapse\" data-target=\"#collapse" + index + "\" aria-expanded=\"true\" aria-controls=\"collapse" + index + "\">\n" +
                "                " + calendarEvent.title + "\n" +
                "            </button>\n" +
                "        </h2>\n" +
                "    </div>\n" +
                "    <div id=\"collapse" + index + "\" class=\"collapse\" aria-labelledby=\"calendarEvent" + index + "\" data-parent=\"#calendarListView\">\n" +
                "        <div class=\"card-body\">\n" +
                "            <table class=\"table table-sm table-striped\">\n" +
                "                <caption>Entry № " + (index+1) + "</caption>" +
                "                <tr>\n" +
                "                    <th>Field</th>\n" +
                "                    <th>Value</th>\n" +
                "                </tr>" +
                "                <tr>\n" +
                "                    <td>Location</td>\n" +
                "                    <td>" + calendarEvent.location + "</td>\n" +
                "                </tr>\n" +
                "                <tr>\n" +
                "                    <td>Organizer</label></td>\n" +
                "                    <td>" + calendarEvent.organizer + "</td>\n" +
                "                </tr>\n" +
                +                "<tr>\n" +
                "                    <td>Start</td>\n" +
                "                    <td>" + start.toLocaleString() + "</td>\n" +
                "                </tr>\n" +
                "                <tr>\n" +
                "                    <td>End</td>\n" +
                "                    <td>" + end.toLocaleString() + "</td>\n" +
                "                </tr>\n" +
                "                <tr>\n" +
                "                    <td>Status</td>\n" +
                "                    <td>" + calendarEvent.status + "</td>\n" +
                "                </tr>\n" +
                "                <tr>\n" +
                "                    <td>All Day</td>\n" +
                "                    <td>" + calendarEvent.allday + "</td>\n" +
                "                </tr>\n" +
                "                <tr>\n" +
                "                    <td>Webpage</td>\n" +
                "                    <td>" + calendarEvent.webpage + "</td>\n" +
                "                </tr>\n" +
                "                <tr>\n" +
                "                    <td>Image</td>\n" +
                "                    <td>" + calendarEvent.imageurl + "</td>\n" +
                "                </tr>\n" +
                "                <tr>\n" +
                "                    <td>Categories</td>\n" +
                "                    <td>" + calendarEvent.categories + "</td>\n" +
                "                </tr>\n" +
                "                <tr>\n" +
                "                    <td>Extra</td>\n" +
                "                    <td>" + calendarEvent.extra + "</td>\n" +
                "                </tr>" +
                "            </table>\n" +
                "        </div>\n" +
                "    </div>\n" +
                "</div>"
    })}



    function getData() {

        let username = ((document.getElementById("username").value === "")
            ? "public" : document.getElementById("username").value)

        getCalendarEvents(url, username).then(function (data) {
            constructCalendarEvent(data)
            console.log(data);
        }).catch(function (e) {
            console.warn(e)
        });
    }

    function getMonth(number) {
        switch (number) {
            case 1: return "Janurary";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "Juni";
            case 7: return "Juli";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
        }
    }

    // function constructTable(selector) {
    //
    //     // Getting the all column names
    //     // let cols = Headers(list, selector);
    //
    //     // Traversing the JSON data
    //     for (let i = 0; i < list.length; i++) {
    //         let row = $('<tr/>');
    //         for (let colIndex = 0; colIndex < cols.length; colIndex++)
    //         {
    //             let val = list[i][cols[colIndex]];
    //
    //             // If there is any key, which is matching
    //             // with the column name
    //             if (val == null) val = "";
    //             row.append($('<td/>').html(val));
    //         }
    //
    //         // Adding each row to the table
    //         $(selector).append(row);
    //     }
    // }

    // function Headers(list, selector) {
    //     let columns = [];
    //     let header = $('<tr/>');
    //
    //     for (let i = 0; i < list.length; i++) {
    //         let row = list[i];
    //
    //         for (let k in row) {
    //             if ($.inArray(k, columns) == -1) {
    //                 columns.push(k);
    //
    //                 // Creating the header
    //                 header.append($('<th/>').html(k));
    //             }
    //         }
    //     }
    //
    //     // Appending the header to the table
    //     $(selector).append(header);
    //     return columns;
    // }
</script>

<script>


    function loadJSON(callback) {

        let xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
        xobj.open('GET', 'my_data.json', true); // Replace 'my_data' with the path to your file
        xobj.onreadystatechange = function () {
            if (xobj.readyState === 4 && xobj.status === "200") {
                // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
                callback(xobj.responseText);
            }
        };
        xobj.send(null);
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>